body {
    height: 100vh;
    width: 100vh;
    background-color: rgb(20, 20, 20);
    margin: 0rem;
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    margin-top: 17vh;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.header {
    background-color: steelblue;
    height: 17vh;
    width: 100vw;
    margin: 0rem;
    text-align: center;
    overflow: hidden;
}

h1 {
    line-height: 0.6;
    color: rgb(20, 20, 20);
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    font-family: Corbel;
}

h2 {
    line-height: 0.6;
    color: rgb(20, 20, 20);
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-family: Corbel;
}