body {
    height: 100vh;
    width: 100vh;
    background-color: rgb(20, 20, 20);
    margin: 0rem;
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    margin-top: 17vh;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    pointer-events: none;
}

.header {
    background-color: steelblue;
    height: 23vh;
    width: 100vw;
    margin: 0rem;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

h1 {
    line-height: 0vh;
    color: black;
    font-size: 7vh;
    font-style: normal;
    font-weight: bold;
    font-family: Corbel;
    padding-bottom: 1vh;
}

h2 {
    line-height: 1vh;
    color: black;
    font-size: 6vh;
    font-style: normal;
    font-weight: normal;
    font-family: Corbel;
}

.topic {
    line-height: 0vh;
    color: black;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    font-family: Corbel;
    text-decoration: underline;
    padding: 1vw;
}