body {
    height: 100vh;
    width: 100vh;
    background-color: rgb(20, 20, 20);
    margin: 0rem;
    overflow: hidden;
}

#resume_body {
    height: 200vh;
    width: 100vh;
    background-color: rgb(20, 20, 20);
    overflow:auto;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    
}

#center {
    margin: auto;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

img:hover {
    transform: scale(1.1);
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(0%, -50%);
    user-select: none;
    margin-top: 23vh;
}

.header {
    background-color: steelblue;
    height: 23vh;
    width: 100vw;
    margin: 0rem;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

h1 {
    line-height: 0vh;
    color: black;
    font-size: 7vh;
    font-style: normal;
    font-weight: bold;
    font-family: Corbel;
    padding-bottom: 1vh;
}

h2 {
    line-height: 1vh;
    color: black;
    font-size: 6vh;
    font-style: normal;
    font-weight: normal;
    font-family: Corbel;
}

.topic {
    line-height: 0vh;
    color: black;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    font-family: Corbel;
    text-decoration: underline;
    padding: 1vw;
}

.current {
    line-height: 0vh;
    color: black;
    font-size: 3vh;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-family: Corbel;
    padding: 1vw;
}

p {
    line-height: 3vh;
    color: lightgray;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: Verdana;
    padding: 1vw;
    margin-bottom: -6vh;
}

.center-text {
    line-height: 3vh;
    color: lightgray;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: Verdana;
    padding: 1vw;
    margin-bottom: -6vh;
    margin-left: -12vh;
    text-align: center;
}

.text {
    width: 45vw;
    margin-left: 5vw;
    text-indent: 30px;
}

._image {
    width: 45vw;
    margin-left: 45vw;
}

.me {
    width: 60vmin;
    height: 53vmin;
    object-fit: cover;
    object-position: 100% center;
    margin-left: 15vw;
    margin-top: -65vh;
    margin-bottom: 10vh;
    user-select: none;
    pointer-events: none;

}


.icon-track {
    display: flex;
    gap: 2vmin;
    user-select: none;
    margin-left: 63.5vw;
    margin-top: -7vh;
}

.icon {
    width: 10vmin;
    height: 10vmin;
    object-fit: cover;
    object-position: 100% center;
}

